<h1>Step 2: Select your config and options</h1>

<form [formGroup]="carConfigForm">
  <div>
    <select class="select" (change)="changeCarConfig($event)" formControlName="config" id="configSelect"
            *ngIf="carConfigList?.configs">
      <option class="option" value=0>Choose your config</option>
      <option class="option" *ngFor="let config of carConfigList?.configs"
              [value]="config.id">{{config.description}}</option>
    </select>
    <div *ngIf="carConfigFormControls.config.dirty || carConfigFormControls.config.touched">
      <div *ngIf="carConfigFormControls.config.value == 0" class="error">
        Please choose a car config
      </div>
    </div>
  </div>
  <div *ngIf="stateService.selectedCarConfig">
    Range: {{stateService.selectedCarConfig.range}} miles - Max speed: {{stateService.selectedCarConfig.speed}} - Cost
    {{stateService.selectedCarConfig.price | currency:'USD':'symbol':'1.2-2'}}
  </div>
  <div *ngIf="carConfigList?.towHitch">
    <label>Tow hitch?</label>
    <input type="checkbox" formControlName="towHitch" (change)="updateTowHitch($event)" id="includeTow">
  </div>
  <div *ngIf="carConfigList?.yoke">
    <label>Yoke steering wheel? </label>
    <input type="checkbox" formControlName="yokeWheel" (change)="updateYokeWheel($event)" id="includeYoke">
  </div>

</form>
<app-car-image></app-car-image>
